<header id="nav-header">
     <nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark">
                   <a id="logo" href="/" style="font-family: 'Billabong';">GraMeme</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                      
                     <form id="search-form" class="form-inline my-2 my-lg-0 ml-auto" action="{{#if profile}}/posts/search{{else}}/search{{/if}}" method="POST">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search for memes" aria-label="Search" id="nav-search" name="search"
                        value="{{search}}">
                        <i id="search-submit" onclick="searchFilter" class="fa fa-search"></i>
                    </form> 
                    <ul class="nav navbar-nav navbar-right" id="nav-acc">
                {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/upload">
                            <i class="fas fa-upload"></i>
                            Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts">
                            <i class="fas fa-user"></i>
                            {{user.name}}</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            Logout</a>
                      </li>
                 {{else}}
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="btn-login" data-toggle="dropdown" href="#">
                            <i class="fas fa-sign-in-alt"></i>
                            Login</a>
                            <div id="loginbox" class="dropdown-menu">
                            <form method="POST" action="/users/login" class="px-4 py-3">
                             {{!--> _errors--}}
                            <div class="form-group">
                            <label for="logIn_username">Email</label>
                            <input class="form-control" id="logIn_username" name="email"
                            type="email"
                            placeholder="Username" required>
                            </div>
                            <div class="form-group">
                            <label for="logIn_password">Password</label>
                            <input type="password" class="form-control" id="logIn_password" placeholder="Password" name="password" required>
                            </div>
                            <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="dropdownCheck" name="rememberme">
                            <label class="form-check-label" for="dropdownCheck">
                                Remember me
                            </label>
                            </div>
                            <button type ="submit" id="logInSubmit" class="btn btn-dark ">
                                Login</button>
                          </form>
                        </div>
                          
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link" href="/users/register">
                            <i class="fas fa-user-plus"></i>
                            Register</a>
                      </li>
                {{/if}}
                </ul>
            </div>
        </nav>
    </header>