 @font-face {
    font-family: "timeburnerbold";
    src: url("../Fonts/timeburnerbold.ttf");
}

 @font-face {
    font-family: "timeburnerbold";
    src: url("../timeburnerbold.ttf");
}

 @font-face {
    font-family: "timeburnerbold";
    src: url("../Fonts/timeburnerbold.ttf");
}

@font-face {
   font-family: "timeburnerbold";
    src: url("../Fonts/timeburnerbold.ttf");
}

.Logo-bold, .goodies div:nth-child(1) i i{
    font-family: "timeburnerbold";
/*    font-size: 20px;*/
}

.Text-reg, nav li, .goodies div:nth-child(2) i i{
    font-family: "timeburnerbold";
}

#nav-search::-webkit-input-placeholder, .Text-light {
  font-family: "timeburnerbold", monospace, sans-serif;
}

#nav-search:-ms-input-placeholder {
  font-family: "timeburnerbold", monospace, sans-serif;
}

#nav-search:-moz-placeholder {
  font-family: "timeburnerbold", monospace, sans-serif;
}

#nav-search::-moz-placeholder{
  font-family: "timeburnerbold", monospace, sans-serif;
}

main p{
    font-family: "timeburnerbold", monospace, sans-serif;
}

.text-center{
    font-family: "timeburnerbold", monospace, sans-serif;
}

div.form-group{
    font-family: "timeburnerbold", monospace, sans-serif;
    
}

#regBtn{
    font-family: "timeburnerbold", monospace, sans-serif;
    
}