.modal-img{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /*display: block;*/
/*    640 × 480*/
/*    960 x 720*/
}

.modal-dialog{
    position: relative;
    display: table; /* This is important */
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.panel-title{
    text-align: left;
}

.modal-header{
    background-color: #282c31;
    border: 0px;
    border-radius: 0px;
    color: white;
}

.modal-footer{
    background-color: #282c31;
    border: 0px;
    color: white;
    justify-content: space-between;
}


.meme-tag:hover{
    cursor: pointer;
    color: #3c4045;
}

/*

#shareBtn, #editBtn, .btn-del{
    width: 80px;
    margin: 0px;
    background-color: #282c31;
    color: white;
    display: block;
}
*/

#dropdownBtn{
    background-color: grey;
    border-color: grey;
    color: white;
}

.btn-primary{
    background-color: gray;
    border-color: gray;
}

.btn-primary:hover{
    background-color: dimgray;
    border-color: dimgray;
}
