<div class="card card-body">
    <h3>Upload a Meme</h3>
    <form action="/posts/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" name="details" required></textarea>
        </div>
        <div class="form-group">
            <label for="details">Privacy</label>
            <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="privacy" id="inlineRadio1" value="0" checked>
                  <label class="form-check-label" for="inlineRadio1">public</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="privacy" id="inlineRadio2" value="1">
                  <label class="form-check-label" for="inlineRadio2">private</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="details">Add Tags</label>
            <input type="text" data-role="tagsinput" name="tags" >
<!--
            <select multiple data-role="tagsinput">
                <option selected="" value="medyo buggy pa">medyo buggy pa</option>
                <option selected="" value="kapag duplicate nawawala">kapag duplicate nawawala</option>
            </select>
-->
        </div>
        <div class="custom-file mb-3"> 
                <input type="file" id="file" onchange="return fileValidation()"
                name="upImage" class="custom-file-input" required/>
            <label for="upImage" class="custom-file-label">Choose Image</label>
        </div>
        <div class="other">
            <a id="image-preview"/>
        </div>
        <button type="submit" class="btn btn-dark btn-block">Post</button>
    </form>
</div> 